.button {
    background-color: white;
    color: black;
    display: block;
    border-radius: 2rem;
    padding: 10px 25px;
    font-weight: bold;
    transition: 0.3s;
}

.button-two {
    background-color: #35A29F;
    color: white;
    display: block;
    border-radius: 2rem;
    padding: 10px 25px;
    font-weight: bold;
    transition: 0.3s;
}

.button-two:hover {
    transform: scale(1.1);
}

.button:hover {
    transform: scale(1.1);
}

.underline {
    display: block;
    background-color: #35A29F;
    height: 5px;
    width: 50px;
    border-radius: 2rem;
}

.heading-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}