@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

nav {
  display: flex;
  background-color: #3aa6b9;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  border: 0;
}

.logo {
  width: 100px;
}

.nav-list {
  position: fixed;
  right: -100%;
  top: 50px;
  gap: 0;
  flex-direction: column;
  background-color: #3aa6b9;
  width: 40%;
  text-align: center;
  transition: 0.3s;
}

.nav-list.active {
  right: 0;
}

.hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger-menu.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
}

.nav-link {
  margin: 30px 0px;
  color: white;
}

.bar {
  display: block;
  background-color: white;
  width: 25px;
  height: 4px;
  margin: 2px auto;
  border-radius: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*Banner*/

.banner {
  background-color: #3aa6b9;
}

.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-container picture img {
  width: 300px;
}

.text-container {
  display: flex;
  color: white;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.text-container h1 {
  padding-bottom: 25px;
}

/*About Us*/

.about-us {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
}

/*Our Culture*/

.our-culture {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 50px 20px;
}

.culture-img {
  width: 100%;
}
.culture {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}

.culture-container {
  background-color: white;
  box-shadow: 3px 9px 10px -1px rgba(0, 0, 0, 0.31);
  height: 450px;
}

/*Vision and Mission*/

.vision-mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  padding: 50px 20px 2px 20px;
}

.vm-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  text-align: justify;
}

.vm-object img {
  width: 100%;
  padding: 0px 20px 50px 20px;
}

/*contact*/

.contact {
  padding: 30px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.contact div a {
  color: black;
  display: flex;
  gap: 10px;
}

.contact div a:hover {
  color: #3aa6b9;
}

.b-icon {
  color: black;
}

/*Footer*/

footer {
  background-color: #3aa6b9;
  padding: 25px 20px;
}

footer div img {
  width: 100px;
}

.footer-menu {
  display: flex;
  padding-top: 15px;
  color: white;
  align-items: center;
  justify-content: space-around;
}

.footer-menu div a {
  color: white;
}

.footer-menu div a:hover {
  color: #97feed;
}

.footer-menu div p {
  color: white;
  font-weight: 600;
}

/*To Top*/
.to-top {
  background-color: #0b666a;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bolder;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
